.ant-card-body {
    padding: 0px !important;
}

.bigBox {

    .inputContent {
        padding: 30px 80px 10px 50px !important;

        .inputContentSon {
            position: relative;

            .pictureData {
                width: 300px;
            }

            .picCart {
                position: absolute;
                top: 246px;
                left: 150px;
                vertical-align: center;
                text-align: center;

                p {
                    font-size: 8px;
                    line-height: 8px;
                    margin: 10px 0px;
                    color: red;
                }
            }
        }

    }

}