.ant-card-body {
    padding: 0px !important;
}

.bigBox {
    .inputContent {
        .pictureData {
            .picCart {
                float: right;
                margin-right: 300px;
                vertical-align: center;
                text-align: center;

                p {
                    font-size: 8px;
                    line-height: 8px;
                    margin-bottom: 10px;
                    color:red;
                }
            }
        }
    }
}