.banner{
    margin-top: 4.80rem;
    height:4.625rem;
    background: #f09;
    position: relative;
    .banner_nav{
        position:absolute;
        top:1rem;
        width:86%;
        left:7%;
        background: #555;
        height:6.875rem;
        border-radius: .375rem;
        overflow: hidden;
        img{
            width:100%;
            height:100%;
        }
    }
}
.dayday{
    margin-top:4.125rem;
    ul{
        height:7.5rem;
        list-style:none;
        padding-left:7%;
        li{
            float:left;
            border:1px solid #dee;
            border-radius: .3125rem;
            width:27%;
            margin-right:6%;
            height:6.875rem;
            position: relative;
            h4{
                padding-top:.5rem;
                font-size: 1rem;
                font-weight: 900;
            }
            p{
                font-size: .75rem;
                line-height: 1.5rem
            }
            button{
                margin-top:.625rem;
                line-height: 1.625rem;
                border-radius: .625rem;
                padding:0 .4375rem;
                color:#fff;
            } 
            .b_one{
                background: #01D692;
            }
            .b_two{
                background: #FF9D41;
            }
            .b_three{
                background: #FFCA39;
            }
            img{
                position:absolute;
                bottom:0px;
                right:0px;
                width:1.875rem;
            }
        }
    }
}