.flex {
  display: flex;
}
.mainBody {
  .My_home {
    height: 100%;
    background-color: rgb(242, 242, 242);
    .home_head {
      background-color: rgb(6, 189, 146);
      height: 19%;
      padding: 0 1rem;
      .home_head_content {
        width: 80%;
        padding-top: 2.375rem;
        .home_headImg {
          width: 3.4375rem;
          height: 3.4375rem;
          img {
            width: 100%;
          }
        }
        .home_headLog {
          color: #fff;
          padding-left: .75rem;
          .dengluzhuce {
            line-height: 2.125rem;
            strong {
              font-size: 1.1875rem;
            }
            &:after {
              content: ">";
              margin-left: .5rem;
            }
          }
          .jifen {
            font-size: .8125rem;
            margin-top: .1875rem;
            color: rgb(230, 249, 244);
            opacity: 0.9;
            line-height: 1rem;
          }
        }
      }
    }
    .card_type {
      margin-bottom: .5625rem;
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: space-around;
      height: 14%;
      a {
        display: flex;
        flex-direction: column;
        padding-top: 5%;
        i {
          height: 2.1875rem;
          width: 2.1875rem;
          img {
            width: 100%;
          }
        }
        span {
          text-align: center;
          color: rgb(70, 70, 70);
          font-size: .875rem;
          line-height: 1.875rem;
        }
      }
    }
    .shadow {
      height: 13%;
      background-color: #fff;
      padding: .5rem 0;
      margin-bottom: .5rem;
      a {
        width: 100%;
        height: 100%;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
    .linklist {
        margin-bottom:1.5625rem;
      .detail-list {
        padding: 0 1rem;
        background-color: #fff;
        margin-bottom:.6875rem;
        .detail-listitem {
          a {
            display: block;
            border-bottom: .0625rem solid rgb(230, 230, 230);
            padding: .9375rem 0;
            .imgbox {
              display: inline-block;
              width: 1.375rem;
              height: 1.375rem;
              img {
                width: 100%;
              }
            }
            .ziti {
              font-size: .9375rem;
              color: rgb(70, 70, 70);
              padding-left: .875rem;
            }
          }
        }
      }
    }
    .phone{
        text-align:center;
        font-size:.8125rem;
        color:rgb(194, 194, 194);
        span{
            color:rgb(18, 194, 135);
            margin-left:.25rem;
        }
    }
  }
}
