.flex {
  display: flex;
}
.mainBody {
  .My_home {
    height: 100%;
    background-color: rgb(242, 242, 242);
    .home_head {
      background-color: rgb(6, 189, 146);
      height: 19%;
      padding: 0 1rem;
      .home_head_content {
        width: 80%;
        padding-top: 2.375rem;
        .home_headImg {
          width: 3.4375rem;
          height: 3.4375rem;
          img {
            width: 100%;
          }
        }
        .home_headLog {
          color: #fff;
          padding-left: 0.75rem;
          .username{
            display:inline-block;
            margin-top:12px;
            font-size:20px;
          }
          button{
            margin-left:10px;
            font-size:16px;
            background-color:rgb(6, 189, 146);
          }
          .dengluzhuce {
            line-height: 2.125rem;
            strong {
              font-size: 1.1875rem;
            }
            &:after {
              content: ">";
              margin-left: 0.5rem;
            }
          }
          .jifen {
            font-size: 0.8125rem;
            margin-top: 0.1875rem;
            color: rgb(230, 249, 244);
            opacity: 0.9;
            line-height: 1rem;
          }
        }
      }
    }
    .card_type {
      margin-bottom: 0.5625rem;
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: space-around;
      height: 14%;
      a {
        display: flex;
        flex-direction: column;
        padding-top: 5%;
        i {
          height: 2.1875rem;
          width: 2.1875rem;
          img {
            width: 100%;
          }
        }
        span {
          text-align: center;
          color: rgb(70, 70, 70);
          font-size: 0.875rem;
          line-height: 1.875rem;
        }
      }
    }
    .shadow {
      height: 13%;
      background-color: #fff;
      padding: 0.5rem 0;
      margin-bottom: 0.5rem;
      a {
        width: 100%;
        height: 100%;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
    .linklist {
      margin-bottom: 1.5625rem;
      .detail-list {
        padding: 0 1rem;
        background-color: #fff;
        margin-bottom: 0.6875rem;
        .detail-listitem {
          a {
            display: block;
            border-bottom: 0.0625rem solid rgb(230, 230, 230);
            padding: 0.9375rem 0;
            .imgbox {
              display: inline-block;
              width: 1.375rem;
              height: 1.375rem;
              img {
                width: 100%;
              }
            }
            .ziti {
              font-size: 0.9375rem;
              color: rgb(70, 70, 70);
              padding-left: 0.875rem;
            }
          }
        }
      }
    }
    .phone {
      text-align: center;
      font-size: 0.8125rem;
      color: rgb(194, 194, 194);
      span {
        color: rgb(18, 194, 135);
        margin-left: 0.25rem;
      }
    }
  }
  .My_logreg {
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    .logregbox {
      z-index: 1;
      opacity: 1;
      background-color: #fff;
      position: fixed;
      margin: auto;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 86%;
      height: 37%;
      border-radius: 1%;
      padding: 17px 33px 27px;
      .cancelbtn {
        bottom: -60px;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        .btnbox {
          position: relative;
          height: 33px;
          width: 33px;
          border: 1px solid rgb(198, 198, 198);
          border-radius: 50%;
          text-align: center;
          &:before {
            border-top: 1px solid rgb(198, 198, 198);
            content: "";
            left: 50%;
            overflow: hidden;
            position: absolute;
            top: 50%;
            width: 20px;
            transform: translateX(-50%) rotate(135deg);
          }
          &:after {
            border-top: 1px solid rgb(198, 198, 198);
            content: "";
            left: 50%;
            overflow: hidden;
            position: absolute;
            top: 50%;
            width: 20px;
            transform: translateX(-50%) rotate(45deg);
          }
        }
      }
      .box1 {
        margin-bottom: 20px;
        ul {
          display: flex;
          li {
            position: relative;
            flex: 1;
            font-size: 18px;
            color: rgb(112, 112, 112);
            text-align: center;
          }
          .on {
            color: rgb(19, 200, 161);
            &:after {
              content: "";
              background-color: rgb(19, 200, 161);
              bottom: -10px;
              height: 3px;
              left: 50%;
              position: absolute;
              transform: translateX(-50%);
              width: 34px;
            }
          }
        }
      }
      .box2 {
        .item {
          .itembox {
            border-bottom: 1px solid #d9d9d9;
            margin-bottom: 10px;
            position: relative;
            background: #fff;
            input {
              padding: 16px 19px;
              width: 90%;
            }
            .get-captch {
              font-size: 16px;
              font-weight: 700;
              color: rgb(66, 211, 179);
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
          .subbtn {
            color: #fff;
            margin: 16px auto 0;
            text-align: center;
            button {
              background-color: rgb(19, 200, 161);
              width: 100%;
              display: block;
              height: 48px;
              line-height: 48px;
              font-size: 18px;
              border-radius: 5%;
            }
          }
        }
      }
    }
  }
}
@keyframes denglukuang {
  from {
      transform:translate(0,300px) ;
  }
  to {
      transform:translate(0,0) ;
  }
}
